html {
    height: 100%;
    min height: 100%
}

#navbar {
    display: grid;
    grid-template-columns: 60px 885px 60px 75px 50px 100px;
    grid-template-rows: 70px;
    margin-top: 20px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #323232;
    font-family: arial, helvetica;
    font-size: 14px;
}

#sign-in {
    background-color: #4285f4;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 4px;
    border-width: 0px;
    padding: 1px;
    margin-bottom: 38px;
}

#main {
    display: grid;
    grid-template-columns: 25% 55% 20%;
    grid-template-rows: 175px 50px 70px 220px;
    grid-template-areas: 
    ". google_logo ."
    ". search_bar ."
    ". flexbox ."
    ". google_fi ."
    ;
}

#google_logo {
    grid-area: google_logo;
    margin-top: 50px;
    margin-left: 150px;
}


#search_bar {
    grid-area: search_bar;
    height: 40px;
    width: 575px;
    margin-left: 10px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./Search.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 13px 13px;
}

#flexbox {
    grid-area: flexbox;
    margin-left: 175px;
}
#google_search {
    grid-area: google_search;
    margin-right: 20px;
    margin-top: 25px;
    padding: 12px;
    border-width: 0px;
    border-color: whitesmoke;
    border-radius: 5px;
    background-color: whitesmoke;
    color: #323232;
}

#im_feeling_lucky {
    grid-area: im_feeling_lucky;
    padding: 10px;
    border-width: 0px;
    border-color: whitesmoke;
    border-radius: 5px;
    background-color: whitesmoke;
    color: #323232;
}

#google_fi {
    grid-area: google_fi;
    margin-left: 155px
}

#footer {
    display: grid;
    grid-template-columns: 8% 8% 11% 49% 8% 8% 8%;
    grid-template-rows: 50px;
    background-color: #ececec;
    grid-template-areas: 
    "advertising business how_search_works carbon_neutral privacy terms settings";
    align-content: center;
}

#carbon_neutral {
    grid-area: carbon_neutral;  
    margin-top: 15px;
    margin-left: 180px;
}

#advertising {
    grid-area: advertising;
    margin-top: 15px;
    margin-left: 20px
}

#business {
    grid-area: business;
    margin-top: 15px;
    margin-left: 20px;
}

#how_search_works {
    grid-area: how_search works;
    margin-top: 15px;
}

#privacy {
    grid-area: privacy;
    margin-top: 15px;
    margin-left: 45px
}

#terms {
    grid-area: terms;
    margin-top: 15px;
    margin-left: 30px;
}

#settings {
    grid-area: settings;
    margin-top: 15px;
}